body {
  background: #42c4d3;
  font-family: 'Press Start 2P', cursive;
}

.main-title,
.game-status-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}

.game-page-section {
  display: none;
}

.game-canvas {
  display: block;
  margin: auto;
  border: 1px dashed;
  background: black;
}

.start-page-section {
  display: block;
}

.game-description {
  text-align: center;
}

.gameover-page-section {
  display: none;
}

.arcade-image {
  display: block;
  height: 400px;
  margin: 0 auto 40px auto;
}

.start-btn,
.back-to-start-btn,
.new-level-start-btn {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 70px;
  border: 5px solid black;
  font: inherit;
  font-size: 1.4em;
  text-transform: uppercase;
  cursor: pointer;
}

.new-level-section {
  display: none;
}

.new-level-start-btn{
  margin-top: 30px;
}

.level-display {
  text-align: center;
}

.complete-page-section {
  display: none;
}
