body {
  background: #42c4d3;
  font-family: 'Press Start 2P', cursive;
}

.game-canvas {
  display: none;
  margin: auto;
  border: 1px dashed;
  background: #FFF;
}

.main-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}

.game-description {
  text-align: center;
}

.arcade-image {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.start-btn {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 55px;
  border: none;
  font: inherit;
  font-size: 1.4em;
  text-transform: uppercase;
}
